@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9808 0.0119 79.7852);
  --foreground: oklch(0.3715 0.0217 49.9644);
  --card: oklch(0.9885 0.0057 84.5659);
  --card-foreground: oklch(0.3715 0.0217 49.9644);
  --popover: oklch(0.9885 0.0057 84.5659);
  --popover-foreground: oklch(0.3715 0.0217 49.9644);
  --primary: oklch(0.6939 0.1190 56.5164);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9264 0.0173 84.5881);
  --secondary-foreground: oklch(0.4369 0.0168 46.0016);
  --muted: oklch(0.9562 0.0070 39.4608);
  --muted-foreground: oklch(0.5532 0.0193 40.7061);
  --accent: oklch(0.9023 0.0275 78.1808);
  --accent-foreground: oklch(0.3715 0.0217 49.9644);
  --destructive: oklch(0.5175 0.1557 29.2441);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8873 0.0192 83.0629);
  --input: oklch(74.944% 0.02438 65.269);
  --ring: oklch(0.6939 0.1190 56.5164);
  --chart-1: oklch(0.6939 0.1190 56.5164);
  --chart-2: oklch(0.5928 0.0925 56.2157);
  --chart-3: oklch(0.7667 0.1115 60.5301);
  --chart-4: oklch(0.8647 0.0786 63.3491);
  --chart-5: oklch(0.6502 0.1068 53.0838);
  --sidebar: oklch(0.9584 0.0170 76.1123);
  --sidebar-foreground: oklch(0.4369 0.0168 46.0016);
  --sidebar-primary: oklch(0.6939 0.1190 56.5164);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9023 0.0275 78.1808);
  --sidebar-accent-foreground: oklch(0.3715 0.0217 49.9644);
  --sidebar-border: oklch(0.8873 0.0192 83.0629);
  --sidebar-ring: oklch(0.6939 0.1190 56.5164);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: -3px;
  --shadow-opacity: 0.08;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px -3px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 4px 10px -3px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0px 4px 10px -3px hsl(0 0% 0% / 0.08), 0px 1px 2px -4px hsl(0 0% 0% / 0.08);
  --shadow: 0px 4px 10px -3px hsl(0 0% 0% / 0.08), 0px 1px 2px -4px hsl(0 0% 0% / 0.08);
  --shadow-md: 0px 4px 10px -3px hsl(0 0% 0% / 0.08), 0px 2px 4px -4px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0px 4px 10px -3px hsl(0 0% 0% / 0.08), 0px 4px 6px -4px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0px 4px 10px -3px hsl(0 0% 0% / 0.08), 0px 8px 10px -4px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 4px 10px -3px hsl(0 0% 0% / 0.20);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2514 0.0145 48.1238);
  --foreground: oklch(0.9546 0.0086 67.7227);
  --card: oklch(0.2290 0.0134 51.4916);
  --card-foreground: oklch(0.9546 0.0086 67.7227);
  --popover: oklch(0.2290 0.0134 51.4916);
  --popover-foreground: oklch(0.9546 0.0086 67.7227);
  --primary: oklch(0.7411 0.1132 59.0326);
  --primary-foreground: oklch(0.1976 0.0115 48.1158);
  --secondary: oklch(0.3181 0.0179 52.8041);
  --secondary-foreground: oklch(0.9546 0.0086 67.7227);
  --muted: oklch(0.2784 0.0176 48.0658);
  --muted-foreground: oklch(0.7349 0.0235 58.6582);
  --accent: oklch(0.3715 0.0217 49.9644);
  --accent-foreground: oklch(0.9546 0.0086 67.7227);
  --destructive: oklch(0.5794 0.1524 28.5183);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3181 0.0179 52.8041);
  --input: oklch(40.204% 0.01782 57.099);
  --ring: oklch(0.7411 0.1132 59.0326);
  --chart-1: oklch(0.7411 0.1132 59.0326);
  --chart-2: oklch(0.6218 0.0981 57.7339);
  --chart-3: oklch(0.7992 0.1053 59.3676);
  --chart-4: oklch(0.9064 0.0585 65.3040);
  --chart-5: oklch(0.6853 0.1070 56.6661);
  --sidebar: oklch(0.2290 0.0134 51.4916);
  --sidebar-foreground: oklch(0.9546 0.0086 67.7227);
  --sidebar-primary: oklch(0.7411 0.1132 59.0326);
  --sidebar-primary-foreground: oklch(0.1976 0.0115 48.1158);
  --sidebar-accent: oklch(0.3715 0.0217 49.9644);
  --sidebar-accent-foreground: oklch(0.9546 0.0086 67.7227);
  --sidebar-border: oklch(0.3181 0.0179 52.8041);
  --sidebar-ring: oklch(0.7411 0.1132 59.0326);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: -3px;
  --shadow-opacity: 0.25;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px -3px hsl(0 0% 0% / 0.13);
  --shadow-xs: 0px 4px 10px -3px hsl(0 0% 0% / 0.13);
  --shadow-sm: 0px 4px 10px -3px hsl(0 0% 0% / 0.25), 0px 1px 2px -4px hsl(0 0% 0% / 0.25);
  --shadow: 0px 4px 10px -3px hsl(0 0% 0% / 0.25), 0px 1px 2px -4px hsl(0 0% 0% / 0.25);
  --shadow-md: 0px 4px 10px -3px hsl(0 0% 0% / 0.25), 0px 2px 4px -4px hsl(0 0% 0% / 0.25);
  --shadow-lg: 0px 4px 10px -3px hsl(0 0% 0% / 0.25), 0px 4px 6px -4px hsl(0 0% 0% / 0.25);
  --shadow-xl: 0px 4px 10px -3px hsl(0 0% 0% / 0.25), 0px 8px 10px -4px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0px 4px 10px -3px hsl(0 0% 0% / 0.63);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

html {
  font-size: 18px;
}
